<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>OpenAI GPT-4 REST Stream Sample with SSE</title>
    <style>
        pre {
            width: 80%;
            border: 1px solid #000;
            white-space: pre-wrap;
        }
    </style>
    <script>
        let userId;
        let eventSource;

        function generateUUID() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = Math.random() * 16 | 0,
                    v = c === 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }

        window.onload = function () {
            userId = generateUUID();
            setupEventSource();
        };

        function setupEventSource() {
            eventSource = new EventSource("/openai-gpt4-sse-stream?userId=" + userId);
            eventSource.addEventListener('message', function (event) {
                responseContainer = document.getElementById("responseContainer");
                responseContainer.textContent += event.data;
                if (event.id == "CLOSE") {
                    console.log("Received CLOSE event");
                    eventSource.close();
                }
            });
        }

        function submitText() {
            if (eventSource.readyState == EventSource.CLOSED) {
                setupEventSource();
            }

            const textFieldValue = document.getElementById("inputText").value;
            fetch("/openai-gpt4-sse-submit?userId=" + userId, {
                method: "POST",
                body: textFieldValue,
                headers: {
                    "Content-Type": "text/plain"
                }
            });
        }  
    </script>
</head>

<body>
    <h1>OpenAI GPT-4 REST Stream Sample with SSE</h1>
    <div>
        <input type="text" id="inputText" />
        <button onclick="submitText()">Submit</button>
    </div>
    <pre id="responseContainer">　</pre>
</body>

</html>